@import '../variables';
@import '../mixins';

.shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-grow: 1;
  margin-top: $navbar-height;

  @include tablet {
    margin-top: 70px;
  }
}

.sidebarWrapper {
  display: block;

  @include desktop {
    display: none;
  }
}

.content {
  flex-grow: 1;
  margin-left: $sidebar-width;
  padding: 60px;
  background-color: $color-bg-page;
  min-height: calc(100vh - #{$navbar-height});
  overflow-x: hidden;
  min-width: 0;

  @include desktop {
    margin-left: 0;
    padding: 30px 20px;
  }

  @include tablet {
    padding: 24px 16px;
    min-height: calc(100vh - 70px);
  }
}



.mobileSidebarContainer {
  width: 100%;
  height: 100%;
  background-color: $color-bg-sidebar;
  overflow-y: auto;
}
